<a href="https://www.kaggle.com/code/swan11196/flight-price-prediction?scriptVersionId=94622563" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # data visualization

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/flight-price-prediction/business.csv
/kaggle/input/flight-price-prediction/economy.csv
/kaggle/input/flight-price-prediction/Clean_Dataset.csv

Importing the Dataset.

In [2]:
dataset = pd.read_csv('/kaggle/input/flight-price-prediction/Clean_Dataset.csv')

In [3]:
dataset.head(10)

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
5,5,Vistara,UK-945,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.33,1,5955
6,6,Vistara,UK-927,Delhi,Morning,zero,Morning,Mumbai,Economy,2.08,1,6060
7,7,Vistara,UK-951,Delhi,Afternoon,zero,Evening,Mumbai,Economy,2.17,1,6060
8,8,GO_FIRST,G8-334,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.17,1,5954
9,9,GO_FIRST,G8-336,Delhi,Afternoon,zero,Evening,Mumbai,Economy,2.25,1,5954

Cleaning up the dataset

In [4]:
dataset.rename(columns={'class':'ticket_class'},inplace=True)
dataset.drop(dataset.columns[[0,2]],axis=1,inplace=True)

Handling missing values

In [5]:
meanDuration = dataset['duration'].mean()
dataset.duration = dataset.duration.fillna(value=meanDuration)

meanDaysLeft = dataset['days_left'].mean()
dataset.days_left = dataset.days_left.fillna(value=meanDaysLeft)

meanPrice = dataset['price'].mean()
dataset.price = dataset.price.fillna(value=meanPrice)

In [6]:
dataset.head(10)

,airline,source_city,departure_time,stops,arrival_time,destination_city,ticket_class,duration,days_left,price
0,SpiceJet,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,SpiceJet,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,AirAsia,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,Vistara,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,Vistara,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
5,Vistara,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.33,1,5955
6,Vistara,Delhi,Morning,zero,Morning,Mumbai,Economy,2.08,1,6060
7,Vistara,Delhi,Afternoon,zero,Evening,Mumbai,Economy,2.17,1,6060
8,GO_FIRST,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.17,1,5954
9,GO_FIRST,Delhi,Afternoon,zero,Evening,Mumbai,Economy,2.25,1,5954

Making sure the data-type for categorical columns in 'Category'

In [7]:
dataset.dtypes

airline              object
source_city          object
departure_time       object
stops                object
arrival_time         object
destination_city     object
ticket_class         object
duration            float64
days_left             int64
price                 int64
dtype: object

In [8]:
dataset.airline = dataset.airline.astype('category')
dataset.source_city = dataset.source_city.astype('category')
dataset.departure_time = dataset.departure_time.astype('category')
dataset.stops = dataset.stops.astype('category')
dataset.arrival_time = dataset.arrival_time.astype('category')
dataset.destination_city = dataset.destination_city.astype('category')
dataset.ticket_class = dataset.ticket_class.astype('category')
dataset.dtypes

airline             category
source_city         category
departure_time      category
stops               category
arrival_time        category
destination_city    category
ticket_class        category
duration             float64
days_left              int64
price                  int64
dtype: object

Converting the categorical variables into dummy binary variables

In [9]:
dataset = pd.get_dummies(dataset,prefix_sep='_',drop_first=True)

In [10]:
dataset.head(10)

,duration,days_left,price,airline_Air_India,airline_GO_FIRST,airline_Indigo,airline_SpiceJet,airline_Vistara,source_city_Chennai,source_city_Delhi,...,arrival_time_Evening,arrival_time_Late_Night,arrival_time_Morning,arrival_time_Night,destination_city_Chennai,destination_city_Delhi,destination_city_Hyderabad,destination_city_Kolkata,destination_city_Mumbai,ticket_class_Economy
0,2.17,1,5953,0,0,0,1,0,0,1,...,0,0,0,1,0,0,0,0,1,1
1,2.33,1,5953,0,0,0,1,0,0,1,...,0,0,1,0,0,0,0,0,1,1
2,2.17,1,5956,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,1
3,2.25,1,5955,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,1,1
4,2.33,1,5955,0,0,0,0,1,0,1,...,0,0,1,0,0,0,0,0,1,1
5,2.33,1,5955,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,1,1
6,2.08,1,6060,0,0,0,0,1,0,1,...,0,0,1,0,0,0,0,0,1,1
7,2.17,1,6060,0,0,0,0,1,0,1,...,1,0,0,0,0,0,0,0,1,1
8,2.17,1,5954,0,1,0,0,0,0,1,...,0,0,1,0,0,0,0,0,1,1
9,2.25,1,5954,0,1,0,0,0,0,1,...,1,0,0,0,0,0,0,0,1,1

Creating the features matrix

In [11]:
Predictors = list(dataset.columns)
Predictors.remove('price')
Outcome = 'price'

In [12]:
x = dataset[Predictors]
print(x)

        duration  days_left  airline_Air_India  airline_GO_FIRST  \
0           2.17          1                  0                 0
1           2.33          1                  0                 0
2           2.17          1                  0                 0
3           2.25          1                  0                 0
4           2.33          1                  0                 0
...          ...        ...                ...               ...
300148     10.08         49                  0                 0
300149     10.42         49                  0                 0
300150     13.83         49                  0                 0
300151     10.00         49                  0                 0
300152     10.08         49                  0                 0

        airline_Indigo  airline_SpiceJet  airline_Vistara  \
0                    0                 1                0
1                    0                 1                0
2                    0                 0                0
3                    0                 0                1
4                    0                 0                1
...                ...               ...              ...
300148               0                 0                1
300149               0                 0                1
300150               0                 0                1
300151               0                 0                1
300152               0                 0                1

        source_city_Chennai  source_city_Delhi  source_city_Hyderabad  ...  \
0                         0                  1                      0  ...
1                         0                  1                      0  ...
2                         0                  1                      0  ...
3                         0                  1                      0  ...
4                         0                  1                      0  ...
...                     ...                ...                    ...  ...
300148                    1                  0                      0  ...
300149                    1                  0                      0  ...
300150                    1                  0                      0  ...
300151                    1                  0                      0  ...
300152                    1                  0                      0  ...

        arrival_time_Evening  arrival_time_Late_Night  arrival_time_Morning  \
0                          0                        0                     0
1                          0                        0                     1
2                          0                        0                     0
3                          0                        0                     0
4                          0                        0                     1
...                      ...                      ...                   ...
300148                     1                        0                     0
300149                     0                        0                     0
300150                     0                        0                     0
300151                     1                        0                     0
300152                     1                        0                     0

        arrival_time_Night  destination_city_Chennai  destination_city_Delhi  \
0                        1                         0                       0
1                        0                         0                       0
2                        0                         0                       0
3                        0                         0                       0
4                        0                         0                       0
...                    ...                       ...                     ...
300148                   0                         0                       0
300149                   1                         0                       0
300150                   1                         0                       0
300151                   0                         0                       0
300152                   0                         0                       0

        destination_city_Hyderabad  destination_city_Kolkata  \
0                                0                         0
1                                0                         0
2                                0                         0
3                                0                         0
4                                0                         0
...                            ...                       ...
300148                           1                         0
300149                           1                         0
300150                           1                         0
300151                           1                         0
300152                           1                         0

        destination_city_Mumbai  ticket_class_Economy
0                             1                     1
1                             1                     1
2                             1                     1
3                             1                     1
4                             1                     1
...                         ...                   ...
300148                        0                     0
300149                        0                     0
300150                        0                     0
300151                        0                     0
300152                        0                     0

[300153 rows x 30 columns]

Creating the dependent variable vector

In [13]:
y = dataset[Outcome]
print(y)

0          5953
1          5953
2          5956
3          5955
4          5955
          ...
300148    69265
300149    77105
300150    79099
300151    81585
300152    81585
Name: price, Length: 300153, dtype: int64

spliting dataset into train and test datasets

In [14]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)

In [15]:
print(x_train)

        duration  days_left  airline_Air_India  airline_GO_FIRST  \
46891       2.08         22                  0                 0
258371     17.25         40                  0                 0
263532     17.42         41                  0                 0
241856     15.25          7                  0                 0
202730      5.33          3                  0                 0
...          ...        ...                ...               ...
21440       5.25          9                  0                 0
117583     15.92         26                  0                 0
73349       5.67         23                  0                 0
267336     19.33          2                  1                 0
128037     11.25          6                  0                 1

        airline_Indigo  airline_SpiceJet  airline_Vistara  \
46891                1                 0                0
258371               0                 0                1
263532               0                 0                1
241856               0                 0                1
202730               1                 0                0
...                ...               ...              ...
21440                1                 0                0
117583               0                 0                1
73349                1                 0                0
267336               0                 0                0
128037               0                 0                0

        source_city_Chennai  source_city_Delhi  source_city_Hyderabad  ...  \
46891                     0                  0                      0  ...
258371                    0                  0                      0  ...
263532                    0                  0                      0  ...
241856                    0                  0                      0  ...
202730                    1                  0                      0  ...
...                     ...                ...                    ...  ...
21440                     0                  1                      0  ...
117583                    0                  0                      0  ...
73349                     0                  0                      0  ...
267336                    0                  0                      0  ...
128037                    0                  0                      0  ...

        arrival_time_Evening  arrival_time_Late_Night  arrival_time_Morning  \
46891                      0                        0                     0
258371                     0                        0                     0
263532                     0                        0                     1
241856                     0                        0                     0
202730                     0                        0                     0
...                      ...                      ...                   ...
21440                      1                        0                     0
117583                     0                        0                     1
73349                      0                        0                     0
267336                     0                        0                     0
128037                     1                        0                     0

        arrival_time_Night  destination_city_Chennai  destination_city_Delhi  \
46891                    0                         0                       1
258371                   0                         0                       0
263532                   0                         0                       1
241856                   1                         1                       0
202730                   0                         0                       0
...                    ...                       ...                     ...
21440                    0                         0                       0
117583                   0                         1                       0
73349                    1                         0                       0
267336                   0                         0                       0
128037                   0                         0                       0

        destination_city_Hyderabad  destination_city_Kolkata  \
46891                            0                         0
258371                           1                         0
263532                           0                         0
241856                           0                         0
202730                           1                         0
...                            ...                       ...
21440                            0                         1
117583                           0                         0
73349                            1                         0
267336                           0                         0
128037                           0                         0

        destination_city_Mumbai  ticket_class_Economy
46891                         0                     1
258371                        0                     0
263532                        0                     0
241856                        0                     0
202730                        0                     1
...                         ...                   ...
21440                         0                     1
117583                        0                     1
73349                         0                     1
267336                        0                     0
128037                        1                     1

[240122 rows x 30 columns]

In [16]:
print(x_test)

        duration  days_left  airline_Air_India  airline_GO_FIRST  \
135562     13.67         49                  1                 0
95636       6.08         11                  0                 0
65269       8.25         23                  0                 0
83129       5.08         43                  0                 0
257806     12.50         31                  0                 0
...          ...        ...                ...               ...
270525     14.92          8                  0                 0
21449       2.08         10                  0                 0
247167      5.92         31                  0                 0
76827       7.42         46                  0                 0
159070     26.58          6                  1                 0

        airline_Indigo  airline_SpiceJet  airline_Vistara  \
135562               0                 0                0
95636                1                 0                0
65269                0                 0                0
83129                1                 0                0
257806               0                 0                1
...                ...               ...              ...
270525               0                 0                1
21449                1                 0                0
247167               0                 0                1
76827                0                 0                1
159070               0                 0                0

        source_city_Chennai  source_city_Delhi  source_city_Hyderabad  ...  \
135562                    0                  0                      0  ...
95636                     0                  0                      0  ...
65269                     0                  0                      0  ...
83129                     0                  0                      0  ...
257806                    0                  0                      0  ...
...                     ...                ...                    ...  ...
270525                    0                  0                      0  ...
21449                     0                  1                      0  ...
247167                    0                  0                      0  ...
76827                     0                  0                      0  ...
159070                    0                  0                      1  ...

        arrival_time_Evening  arrival_time_Late_Night  arrival_time_Morning  \
135562                     0                        0                     1
95636                      1                        0                     0
65269                      0                        0                     0
83129                      1                        0                     0
257806                     0                        0                     1
...                      ...                      ...                   ...
270525                     0                        0                     1
21449                      0                        1                     0
247167                     0                        1                     0
76827                      1                        0                     0
159070                     0                        0                     0

        arrival_time_Night  destination_city_Chennai  destination_city_Delhi  \
135562                   0                         0                       0
95636                    0                         0                       0
65269                    0                         0                       0
83129                    0                         1                       0
257806                   0                         0                       0
...                    ...                       ...                     ...
270525                   0                         0                       0
21449                    0                         0                       0
247167                   0                         0                       1
76827                    0                         0                       0
159070                   1                         0                       0

        destination_city_Hyderabad  destination_city_Kolkata  \
135562                           0                         0
95636                            0                         0
65269                            0                         1
83129                            0                         0
257806                           1                         0
...                            ...                       ...
270525                           1                         0
21449                            0                         1
247167                           0                         0
76827                            1                         0
159070                           0                         0

        destination_city_Mumbai  ticket_class_Economy
135562                        1                     1
95636                         1                     1
65269                         0                     1
83129                         0                     1
257806                        0                     0
...                         ...                   ...
270525                        0                     0
21449                         0                     1
247167                        0                     0
76827                         0                     1
159070                        1                     1

[60031 rows x 30 columns]

In [17]:
print(y_train)

46891      2339
258371    37985
263532    68303
241856    64173
202730    11101
          ...
21440     18555
117583     4792
73349      3891
267336    40862
128037     7958
Name: price, Length: 240122, dtype: int64

In [18]:
print(y_test)

135562     6048
95636     13421
65269      2836
83129      1890
257806    56588
          ...
270525    52175
21449      5955
247167    50473
76827      4099
159070    10967
Name: price, Length: 60031, dtype: int64

In [19]:
!pip install dmba

Collecting dmba
  Downloading dmba-0.1.0-py3-none-any.whl (11.8 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 11.8 MB 596 kB/s
Installing collected packages: dmba
Successfully installed dmba-0.1.0
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

Training the Linear Regression Model

In [20]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from dmba import regressionSummary, exhaustive_search
from dmba import backward_elimination, forward_selection, stepwise_selection
from dmba import adjusted_r2_score, AIC_score, BIC_score

no display found. Using non-interactive Agg backend

In [21]:
fp_lrm = LinearRegression()
fp_lrm.fit(x_train,y_train)

print('Linear Regression Model Details: ')
print()
print('Intercept: ', np.round(fp_lrm.intercept_,2))
print(pd.DataFrame({'Predictors':Predictors,'Coefficients':np.round(fp_lrm.coef_,2)}))

Linear Regression Model Details:

Intercept:  52537.83
                      Predictors  Coefficients
0                       duration         41.75
1                      days_left       -131.71
2              airline_Air_India        122.28
3               airline_GO_FIRST       1700.70
4                 airline_Indigo       2103.92
5               airline_SpiceJet       2291.61
6                airline_Vistara       4083.93
7            source_city_Chennai        -44.18
8              source_city_Delhi      -1370.00
9          source_city_Hyderabad      -1649.01
10           source_city_Kolkata       1622.87
11            source_city_Mumbai       -185.87
12  departure_time_Early_Morning        876.44
13        departure_time_Evening        759.04
14     departure_time_Late_Night       1837.35
15        departure_time_Morning        861.22
16          departure_time_Night        721.35
17             stops_two_or_more       2071.33
18                    stops_zero      -7593.47
19    arrival_time_Early_Morning       -792.43
20          arrival_time_Evening        921.93
21       arrival_time_Late_Night        952.33
22          arrival_time_Morning        467.76
23            arrival_time_Night       1147.23
24      destination_city_Chennai       -227.51
25        destination_city_Delhi      -1566.06
26    destination_city_Hyderabad      -1706.48
27      destination_city_Kolkata       1389.06
28       destination_city_Mumbai        -52.29
29          ticket_class_Economy     -44912.64

Testing the model

In [22]:
fp_pred = fp_lrm.predict(x_test)

print('Prediction Outcome:')
print()
result = round(pd.DataFrame({
    'Actual': y_test,
    'Predicted': fp_pred,
    'Residual': y_test - fp_pred
}),2)

result.head(10)

Prediction Outcome:

        Actual  Predicted  Residual
135562    6048    4624.12   1423.88
95636    13421    9403.79   4017.21
65269     2836    6072.41  -3236.41
83129     1890    5647.43  -3757.43
257806   56588   52543.28   4044.72
226362   53152   54069.98   -917.98
41711     4942    3397.24   1544.76
247102   54841   53530.44   1310.56
229945   41269   50352.36  -9083.36
123681    5120    9128.42  -4008.42

Checking model performance

In [23]:
fp_train_pred = fp_lrm.predict(x_train)

#for training dataset
r2 = round(r2_score(y_train,fp_train_pred),3)
adjusted_r2 = round(adjusted_r2_score(y_train,fp_train_pred,fp_lrm),3)
aic = round(AIC_score(y_train,fp_train_pred,fp_lrm),3)
bic = round(BIC_score(y_train,fp_train_pred,fp_lrm),3)

print('Model Performance for training data:')
print('r2: ',r2)
print('adjusted_r2: ',adjusted_r2)
print('aic: ',aic)
print('bic: ',bic)

print()

#for testing dataset
r2 = round(r2_score(y_test,fp_pred),3)
adjusted_r2 = round(adjusted_r2_score(y_test,fp_pred,fp_lrm),3)
aic = round(AIC_score(y_test,fp_pred,fp_lrm),3)
bic = round(BIC_score(y_test,fp_pred,fp_lrm),3)

print('Model Performance for testing data:')
print('r2: ',r2)
print('adjusted_r2: ',adjusted_r2)
print('aic: ',aic)
print('bic: ',bic)

Model Performance for training data:
r2:  0.911
adjusted_r2:  0.911
aic:  4917060.821
bic:  4917393.266

Model Performance for testing data:
r2:  0.912
adjusted_r2:  0.912
aic:  1228294.93
bic:  1228583.014

Checking model accuracy

In [24]:
print('Model accuracy for training data:')
regressionSummary(y_train,fp_train_pred)

print()

print('Model accuracy for testing data:')
regressionSummary(y_test,fp_pred)

Model accuracy for training data:

Regression statistics

                      Mean Error (ME) : -0.0000
       Root Mean Squared Error (RMSE) : 6765.5596
            Mean Absolute Error (MAE) : 4572.2577
          Mean Percentage Error (MPE) : -4.3324
Mean Absolute Percentage Error (MAPE) : 46.4055

Model accuracy for testing data:

Regression statistics

                      Mean Error (ME) : 32.6853
       Root Mean Squared Error (RMSE) : 6707.8498
            Mean Absolute Error (MAE) : 4547.3509
          Mean Percentage Error (MPE) : -3.8712
Mean Absolute Percentage Error (MAPE) : 46.3528

* Since there is not much difference in the model performance for Training and Testing datasets this model is not an overfit.

* But the MAPE measure is very high which means this model is not performing very well in terms of prediction accuracy.

* So this is not the best model to go with for predicting flight prices.

* Implementing K-NN to predict the Flight Prices.

In [25]:
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn import neighbors
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.metrics import mean_squared_error
from math import sqrt

In [26]:
# Normalizing the traing and test predictors.

scaler = StandardScaler()

scaler.fit(x_train[['duration','days_left']])

x_train[['duration','days_left']] = scaler.transform(x_train[['duration','days_left']])

x_test[['duration','days_left']] = scaler.transform(x_test[['duration','days_left']])

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)

In [27]:
x_train

,duration,days_left,airline_Air_India,airline_GO_FIRST,airline_Indigo,airline_SpiceJet,airline_Vistara,source_city_Chennai,source_city_Delhi,source_city_Hyderabad,...,arrival_time_Evening,arrival_time_Late_Night,arrival_time_Morning,arrival_time_Night,destination_city_Chennai,destination_city_Delhi,destination_city_Hyderabad,destination_city_Kolkata,destination_city_Mumbai,ticket_class_Economy
46891,-1.410646,-0.294768,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
258371,0.698952,1.032299,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
263532,0.722592,1.106025,0,0,0,0,1,0,0,0,...,0,0,1,0,0,1,0,0,0,0
241856,0.420824,-1.400657,0,0,0,0,1,0,0,0,...,0,0,0,1,1,0,0,0,0,0
202730,-0.958689,-1.695561,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21440,-0.969814,-1.253205,0,0,1,0,0,0,1,0,...,1,0,0,0,0,0,0,1,0,1
117583,0.513997,0.000136,0,0,0,0,1,0,0,0,...,0,0,1,0,1,0,0,0,0,1
73349,-0.911407,-0.221042,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,1
267336,0.988204,-1.769287,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
128037,-0.135431,-1.474383,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,1

In [28]:
x_test

,duration,days_left,airline_Air_India,airline_GO_FIRST,airline_Indigo,airline_SpiceJet,airline_Vistara,source_city_Chennai,source_city_Delhi,source_city_Hyderabad,...,arrival_time_Evening,arrival_time_Late_Night,arrival_time_Morning,arrival_time_Night,destination_city_Chennai,destination_city_Delhi,destination_city_Hyderabad,destination_city_Kolkata,destination_city_Mumbai,ticket_class_Economy
135562,0.201103,1.695833,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,1
95636,-0.854391,-1.105753,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,1
65269,-0.552623,-0.221042,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
83129,-0.993455,1.253477,0,0,1,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,1
257806,0.038399,0.368766,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270525,0.374933,-1.326931,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0
21449,-1.410646,-1.179479,0,0,1,0,0,0,1,0,...,0,1,0,0,0,0,0,1,0,1
247167,-0.876641,0.368766,0,0,0,0,1,0,0,0,...,0,1,0,0,0,1,0,0,0,0
76827,-0.668046,1.474655,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,1,0,0,1
159070,1.996417,-1.474383,1,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,1,1

In [29]:
#Training K-NN model
knn_fpp = KNeighborsRegressor(n_neighbors=3).fit(x_train,y_train)

#Predictions for training dataset
knn_train_pred = knn_fpp.predict(x_train)

#Predictions for testing dataset
knn_test_pred = knn_fpp.predict(x_test)

In [30]:
#Prediction results for testing partition
print("Prediction results for testing partition: ")
print()
print(pd.DataFrame({'Actual':y_test,
                                'Predicted': knn_test_pred,
                                'Residual': y_test - knn_test_pred
                               }))

Prediction results for testing partition:

        Actual     Predicted     Residual
135562    6048   5904.000000   144.000000
95636    13421   8417.333333  5003.666667
65269     2836   2836.000000     0.000000
83129     1890   2204.000000  -314.000000
257806   56588  59067.000000 -2479.000000
...        ...           ...          ...
270525   52175  55535.000000 -3360.000000
21449     5955   5955.000000     0.000000
247167   50473  46627.666667  3845.333333
76827     4099   4509.000000  -410.000000
159070   10967   8838.333333  2128.666667

[60031 rows x 3 columns]

In [31]:
#Accuracy for Training
print("Accuracy for Training: ")
regressionSummary(y_train, knn_train_pred)

#Accuracy for Testing
print("Accuracy for Testing: ")
regressionSummary(y_test, knn_test_pred)

Accuracy for Training:

Regression statistics

                      Mean Error (ME) : 13.5912
       Root Mean Squared Error (RMSE) : 2618.1619
            Mean Absolute Error (MAE) : 1100.9226
          Mean Percentage Error (MPE) : -1.6464
Mean Absolute Percentage Error (MAPE) : 6.7509
Accuracy for Testing:

Regression statistics

                      Mean Error (ME) : 30.5839
       Root Mean Squared Error (RMSE) : 3679.8908
            Mean Absolute Error (MAE) : 1687.9194
          Mean Percentage Error (MPE) : -2.8723
Mean Absolute Percentage Error (MAPE) : 10.7097

In [32]:
#Finding the best value for K
rmse_result = []
for k in range(1,21):
    knn = KNeighborsRegressor(n_neighbors = k).fit(x_train, y_train)
    RMSE = sqrt(mean_squared_error(y_test, knn.predict(x_test)))
    rmse_result.append({'K': k,
                       'RMSE': RMSE})
    
print(pd.DataFrame(rmse_result))

     K         RMSE
0    1  4605.752611
1    2  3823.715295
2    3  3679.890763
3    4  3743.280021
4    5  3780.696967
5    6  3813.410640
6    7  3866.740014
7    8  3909.281841
8    9  3954.407835
9   10  4003.070403
10  11  4049.076674
11  12  4103.295125
12  13  4147.275852
13  14  4197.000363
14  15  4251.150973
15  16  4296.854362
16  17  4348.571723
17  18  4403.678872
18  19  4458.568451
19  20  4516.778203

* As we can see in the above table least value for RMSE is at K = 3 so the best value for K is 3.
* Since we are alreadt using K as 3 can not improve the accuracy for the K-NN model any further.